.social_list{
    display: flex;
    align-items: center;
}
.social_item{
    margin: 6px;
}
.social_link{
    width: 30px;
    display: inline-block;
    height: auto;
    color: var(--textWhite);
    opacity: .8;
    font-size: 16px;
    line-height: var(--lHeight);
}